@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    overflow-x: hidden;
    overflow-y: scroll;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    z-index: 5;
}
.sectheaders {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 5px;
    word-spacing: 5px;
    text-shadow: 0 0 10px #66fcf1;
}
#light .sectheaders {
    color: #41403f;
    font-weight: 600;
    text-shadow: none;
}
.adjustablebg {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color:#222222;
    z-index: -1;
}
#light .adjustablebg {
    background-color: #f5f6ed;
}
.togglebox {
    width: fit-content;
    top: 70px;
    left: 90px;
    position: absolute;
    cursor: pointer;
    z-index: 11;
    transition: 0.5s;
}
.togglebox.active {
    position: fixed;
}
.togglebox:hover .line1, .togglebox:hover .line2, .togglebox:hover .line3 {
    background-color: #66fcf1;
}
#light .togglebox:hover .line1, #light .togglebox:hover .line2, #light .togglebox:hover .line3 {
    background-color: #ccb8a5;
}
.line1, .line2, .line3 {
    width: 40px;
    height: 2px;
    margin: 10px 0px;
    background-color: #45a29e;
    transition: 0.6s;
}
#light .line1, #light .line2, #light .line3 {
    background-color: #4c2818;
}
.active .line1 {
    transform: translate(0, 12px)rotate(45deg);
    width: 35px;
    background-color: #fff;
}
.active .line2 {
    opacity: 0;
}
.active .line3 {
    transform: translate(0, -12px)rotate(-45deg);
    width: 35px;
    background-color: #fff;
}
.mode {
    position: absolute;
    cursor: pointer;
    padding-top: 8px;
    padding-left: 5px;
    top: 70px;
    left: 150px;
    z-index: 3;
}
.moon {
    position: absolute;
    color: #4c2818;
    z-index: 11;
    transition: 0.5s;
    font-size: 30px;
}
.moon:hover {
    color: #ccb8a5;
}
.sun {
    color: #45a29e;
    z-index: 11;
    transition: 0.5s;
    font-size: 31px;
}
.sun:hover, .logos:hover {
    color: #66fcf1;
}
#dark .moon, #light .sun {
    transform: translateY(15px);
    opacity: 0;
    z-index: -1;
}
#home {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.introduction {
    width: fit-content;
    height: fit-content;
    background: transparent;
    padding: 20px 60px;
    cursor: default;
    white-space: nowrap;
    border-radius: 30px;
    overflow: hidden;
    transition: 0.5s;
}
.introduction:hover {
    box-shadow: 0 0 10px #fff, 0 0 30px #66fcf1, 0 0 50px #45a29e;
    background: #222222;
    scale: 102%;
}
#light .introduction {
    background-color: #f5f6ed;
}
#light .introduction:hover {
    background-color: #5e5e5e;
    box-shadow: none;
}
#light .introduction::before {
    background: rgba(253, 246, 233, 0.5);
}
.introduction::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 650px;
    background: rgba(179, 236, 236, 0.5);
    transform: skewX(45deg) translateX(1500px) translateY(-40px);
    transition: 0.5s;
    opacity: 0;
    z-index: -1;
}
.introduction:hover::before {
    position: absolute;
    transform: skewX(45deg) translateX(-750px) translateY(-40px);
    opacity: 1;
}
.introduction h2 {
    color: #fff;
    font-size: 38px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 0.5em;
    width: fit-content;
    transition: 0.5s;
}
.introduction:hover h2 {
    text-shadow: 0 0 10px #66fcf1;
}
.introduction h1 {
    display: block;
    width: fit-content;
}
.introduction h1 span {
    width: fit-content;
    color: #1b4142;
    font-size: 320px;
    line-height: 0.7em;
    animation: pulse 4s linear infinite;
}
#light .introduction h1 span:nth-child(1), .introduction h1 span:nth-child(1) {
    animation-delay: 2.7s;
}
#light .introduction h1 span:nth-child(2), .introduction h1 span:nth-child(2) {
    animation-delay: 2.8s;
}
#light .introduction h1 span:nth-child(3), .introduction h1 span:nth-child(3) {
    animation-delay: 2.9s;
}
#light .introduction h1 span:nth-child(4), .introduction h1 span:nth-child(4) {
    animation-delay: 3s;
}
#light .introduction h1 span:nth-child(5), .introduction h1 span:nth-child(5) {
    animation-delay: 3.1s;
}
#light .introduction h1 span:nth-child(6), .introduction h1 span:nth-child(6) {
    animation-delay: 3.2s;
}
#light .introduction h1 span:nth-child(7), .introduction h1 span:nth-child(7) {
    animation-delay: 3.3s;
}
@keyframes pulse {
    0%, 10% {
        color: #1b4142;
    }
    20%, 25% {
        color: #45a29e;
        text-shadow: none;
    }
    30%, 40%{
        color: #66fcf1;
        text-shadow: 0 0 10px #45a29e,
                    0 0 20px #45a29e;
    }
    50%, 60% {
        color: #fff;
        text-shadow: 0 0 10px #66fcf1,
                    0 0 20px #66fcf1;
    }
}
#light .introduction h1 span {
    color: #e6dacf;
    animation: lightpulse 4s linear infinite;
}
@keyframes lightpulse {
    0%, 10% {
        color: #e6dacf;
    }
    20%, 25% {
        color: #967969;
        text-shadow: none;
    }
    30%, 40%{
        color: #4c2818;
    }
    50%, 60% {
        color: #41403f;
    }
}
.introduction p {
    font-size: 20px;
    color: #c5c6c7;
    letter-spacing: 0.35em;
    margin-top: 10px;
    width: fit-content;
    transition: 0.5s;
    white-space: wrap;
}
.introduction:hover p {
    color: #fff;
}
#light .introduction h2, #light .introduction p, #light .logos {
    color: #4c2818;
}
#light .introduction:hover h2, #light .introduction:hover p, #light .logos:hover {
    color: #dbcdc0;
    text-shadow: none;
}
@media (max-width: 1300px) {
    .introduction h1 span {
        font-size: 25vw;
    }
    .introduction h2 {
        font-size: 2.95vw;
    }
    .introduction p {
        font-size: 1.55vw;
    }
    .togglebox {
        top: 4%;
        left: 50px;
    }
    .mode {
        top: 4%;
        left: 90px;
        padding-top: 5px;
    }
    .moon {
        font-size: 22px;
    }
    .sun {
        font-size: 21px;
    }
    .line1, .line2, .line3 {
        width: 30px;
        height: 1px;
        margin: 7px 0px;
    }
    .active .line1, .active .line3 {
        width: 25px;
    }
    .active .line1 {
        transform: translate(0, 8px)rotate(45deg);
    }
    .active .line3 {
        transform: translate(0, -8px)rotate(-45deg);
    }
}
@media (max-width: 620px) {
    .introduction {
        position: absolute;
        padding: 15px 30px;
        border-radius: 25px;
    }
    .introduction h1 span {
        font-size: 180px;
    }
    .introduction h2 {
        font-size: 20px;
    }
    .introduction p {
        font-size: 14px;
    }
}
@media (max-width: 530px) {
    .togglebox {
        left: 30px;
    }
    .mode {
        left: 70px;
    }
    .introduction {
        padding: 10px 25px;
    }
    .introduction h1 span {
        font-size: 140px;
    }
    .introduction h2 {
        font-size: 18px;
    }
    .introduction p {
        font-size: 12px;
    }
    .active .line1, .active .line3 {
        width: 20px;
    }
}
@media (max-width: 410px) {
    .introduction {
        border-radius: 20px;
        padding: 10px 20px;
        max-width: 95vw;
    }
    .introduction h1 span {
        font-size: 120px;
    }
    .introduction h2 {
        font-size: 16px;
    }
    .introduction p {
        font-size: 10px;
    }
}
.links {
    width: fit-content;
    position: absolute;
    top: 80px;
    right: 90px;
    cursor: pointer;
    z-index: 3;
    display: grid;
}
.logos {
    height: 30px;
    width: 30px;
    margin-bottom: 30px;
    color: #65a8a4;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    background: #222222;
    transform: translateX(-100%);
    transition: 0.3s;
    z-index: 10;
}
.navbar ul {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    list-style: none;
}
.navbar ul li {
    text-align: center;
}
.navbar ul li a {
    width: fit-content;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    color: #c5c6c7;
    letter-spacing: 0.3em;
    transition: 0.5s;
}
.navbar.active {
    transform: translateX(0%);
}
#navbar ul li a:hover {
    cursor: pointer;
    color: #fff;
    text-shadow: 0 0 10px #66fcf1;
    letter-spacing: 0.5em;
}
#light .navbar {
    background: rgba(245, 246, 237, 1);
}
#light .navbar ul li a {
    color: #41403f;
    text-shadow: none;
}
#light .navbar ul li a:hover {
    color: #ccb8a5;
}
@media (max-width: 1300px) {
    .links {
        top: 5%;
        right: 50px;
    }
    .logos {
        height: 20px;
        width: 20px;
        margin-bottom: 20px;
    }
    .navbar ul li a {
        font-size: 22px;
    }
}
@media (max-width: 530px) {
    .links {
        right: 30px;
    }
    .navbar ul li a {
        font-size: 18px;
    }
}
#about, #education, #experience, #projects {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: fit-content;
    background-color: #222222;
}
#light #about, #light #education, #light #experience, #light #projects {
    background-color: #f5f6ed;
}
.aboutme, .education, .experience, .projects {
    flex-direction: column;
    height: fit-content;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 50px;
    display: flex;
    flex: 1;
    z-index: 5;
}
@media (max-width: 1250px) {
    .aboutme, .education, .experience, .projects {
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media (max-width: 375px) {
    .aboutme, .education, .experience, .projects {
        margin-left: 5%;
        margin-right: 5%;
    }
}
.aboutme header, .education header, .experience header, .projects header {
    position: relative;
    white-space: nowrap;
    margin-top: 30px;
    margin-bottom: 30px;
}
.aboutme div {
    position: relative;
    display: flex;
    margin-bottom: 20px;
}
.aboutme p {
    color: #fff;
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: relative;
    font-weight: 500;
    line-height: 1.8em;
    letter-spacing: 0.06em;
    word-spacing: 0.07em;
    font-size: 18px;
}
.profpic {
    position: relative;
    display: flex;
    height: 360px;
    width: 360px;
    object-fit: cover;
    border-radius: 35px;
    margin-right: 20px;
}
.aboutmetext {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 210px;
    letter-spacing: 0.07em;
    word-spacing: 0.07em;
    font-style: italic;
    white-space: nowrap;
}
.aboutmetext .view a {
    margin-left: 0;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
}
@keyframes linedraw {
    0%, 20%{
        transform: scaleX(0);
        transform-origin: left;
    }
    50%{
        transform: scaleX(1);
        transform-origin: left;
    }
    40.00000001%, 60%{
        transform: scaleX(1);
        transform-origin: right;
    }
    80%, 100%{
        transform: scaleX(0);
        transform-origin: right;
    }
}
@media (max-width: 1050px) {
    .aboutme div {
        display: block;
    }
    .profpic {
        width: 300px;
        height: 300px;
    }
    .aboutmetext {
        position: relative;
        margin-top: 10px;
        display: block;
    }
    .aboutmetext .view {
        margin-top: -5px;
    }
    .aboutme p {
        top: 52%;
    }
}
@media (max-width: 620px) {
    .sectheaders {
        font-size: 20px;
    }
    .aboutme p {
        top: 43%;
        font-size: 14px;
        line-height: 1.8em;
    }
    .aboutme h2 {
        display: block;
        font-size: 14px;
        margin-top: 5px;
    }
    .aboutmetext .view {
        margin-top: 5px;
    }
    .aboutmetext .view a {
        font-size: 14px;
    }
}
@media (max-width: 375px) {
    .profpic {
        width: 90vw;
        height: 90vw;
        object-fit: cover;
    }
    .aboutme h2 {
        position: relative;
        display: block;
        font-size: 4.2vw;
        margin-top: 5px;
    }
    .aboutme p {
        font-size: 14px;
        line-height: 1.5em;
    }
}
.edutitle, .exptitle  {
    position: relative;
    color: #dedfe0;
    font-weight: 200;
    font-size: 17px;
    width: 100%;
}
.school h2 {
    font-size: 18px;
    letter-spacing: 1px;
    color: #fff;
    white-space: nowrap;
    margin-bottom: -20px;
    justify-content: space-between;
    display: flex;
}
.school h2 span {
    font-weight: 500;
    font-size: 16px;
    margin-top: 5px;
    text-align: right;
    white-space: nowrap;
}
.school h3 {
    font-size: 17px;
}
.school ul {
    margin-top: 10px;
    margin-left: 25px;
    line-height: 1.2em;
    font-weight: 400;
}
.school ul li {
    margin-bottom: 10px;
    font-size: 17px;
}
.coursestaken {
    font-style: italic;
    font-weight: 400;
}
.listheaders {
    color:#45a29e;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 400;
    display: block;
    transition: 0.5s;
    width: fit-content;
}
.software, .ee, .math {
    list-style: none;
    margin-top: 15px;
}
.listheaders:hover, .software.active .listheaders:hover, .ee.active .listheaders:hover, .math.active .listheaders:hover {
    color: #fff;
    text-shadow: 0 0 10px #66fcf1;
}
.listheaders::after {
    content: "   →";
    white-space: pre;
}
.software.active .listheaders::after, .ee.active .listheaders::after, .math.active .listheaders::after {
    content: " →";
}
.softwaremodules, .eemodules, .mathmodules {
    color: #dedfe0;
    display: block;
}
.software.active .softwaremodules, .ee.active .eemodules, .math.active .mathmodules {
    display: none;
}
.software.active .listheaders, .ee.active .listheaders, .math.active .listheaders {
    color: #dedfe0;
}
.softwaremodules li:hover, .eemodules li:hover, .mathmodules li:hover {
    color: #fff;
    text-decoration: underline;
}
.softwaremodules li, .eemodules li, .mathmodules li {
    cursor: pointer;
    width: fit-content;
    transition: 0.5s;
    margin-left: 40px;
}
#light .school h2 span {
    opacity: 0.8;
}
#light .coursestaken, #light .listheaders {
    font-weight: 600;
}
#light .listheaders:hover, #light .software.active .listheaders:hover, #light .ee.active .listheaders:hover, #light .math.active .listheaders:hover {
    color: #ccb8a5;
    text-shadow: none;
}
#light .navbar ul li a, #light .software.active .listheaders, #light .ee.active .listheaders, #light .math.active .listheaders {
    color: #4d4d4d;
}
#light .softwaremodules li:hover, #light .eemodules li:hover, #light .mathmodules li:hover {
    color: #967969;
    text-decoration: underline;
}
@media (max-width: 850px) {
    .school h2 {
        justify-content: left;
        display: block;
    }
    .school h2 span {
        display: flex;
    }
    .school ul li {
        margin-left: 0px;
    }
}
@media (max-width: 620px) {
    .edutitle, .school ul li {
        max-width: 95vw;
    }
    .education header {
        top: 3%;
    }
    .edutitle {
        top: 7%;
    }
}
@media (max-width: 490px){
    .edutitle, .school ul li, .school h2 span {
        font-size: 14px;
    }
    .school h2 {
        font-size: 16px;
    }
    .school h3 {
        font-size: 15px;
    }
    .school ul {
        margin-left: 20px;
    }
    .school ul li ul {
        line-height: 14px;
    }
    .school ul li ul li {
        margin-top: 0;
        margin-left: -5px;
    }
}
.cards {
    cursor: pointer;
    margin-bottom: 50px;
    width: 100%;
    height: fit-content;
    padding: 10px 15px 8px 15px;
    border-radius: 15px;
    border-top: 1.5px solid rgba(255, 255, 255, 0);
    border-bottom: 1.5px solid rgba(0, 0, 0, 0);
}
.cards h2 {
    font-size: 18px;
    letter-spacing: 1px;
    color: #fff;
    transition: 0.5s;
    margin-bottom: -20px;
    justify-content: space-between;
    display: flex;
}
.cards h2 span {
    font-weight: 500;
    font-size: 16px;
    text-align: right;
    white-space: nowrap;
}
.cards h3 {
    font-size: 17px;
}
.cards:hover {
    background: rgba(179, 236, 236, 0.1);
    border-top: 1.5px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
}
.cards:hover h2 {
    color: #66fcf1;
}
.cards ul {
    margin-top: 10px;
    margin-left: 25px;
    line-height: 20px;
}
.cards ul li {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 500;
}
.cards ol {
    margin-top: 5px;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.cards ol li {
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    background-color: rgba(27, 65, 66, 0.8);
    color: #85f3ec;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    margin-right: 5px;
    margin-top: 5px;
}
#light .aboutme p, #light .aboutmetext, #light .edutitle, #light .school ul li, #light .exptitle, #light .cards ul li, #light .projcards {
    color: #4d4d4d;
    font-weight: 400;
}
#light .school h2, #light .cards h2, #light .projcards h2 {
    color: #41403f;
    font-weight: 600;
}
#light .cards h2 span {
    opacity: 0.8;
}
#light .listheaders, #light .cards:hover h2 {
    color: #967969;
}
#light .cards:hover {
    background: rgba(94, 67, 47, 0.1);
}
#light .cards ol li, #light .projcards ol li {
    background-color: rgba(71, 51, 36, 0.8);
    color: #e7ddd2;
    font-weight: 500;
}
.view {
    max-width: fit-content;
    cursor: pointer;
}
.view a {
    max-width: fit-content;
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #c5c6c7;
    transition: 0.3s;
    text-decoration: none;
}
.view:hover a {
    color: #fff;
    text-shadow: 0 0 3px #66fcf1;
}
.view::after {
    content: " →";
    white-space: pre;
    color: #c5c6c7;
}
.view:hover::after {
    content: "   →";
    color: #fff;
    text-shadow: 0 0 5px #66fcf1;
}
#light .view a, #light .view::after {
    color: #4d4d4d;
}
#light .view:hover a, #light .view:hover::after {
    color: #967969;
    text-shadow: none;
}
@media (max-width: 620px) {
    .exptitle {
        font-size: 14px;
    }
    .cards {
        margin-bottom: 30px;
    }
    .cards h2 {
        font-size: 16px;
    }
    .cards h3 {
        font-size: 15px;
    }
    .cards h2 span {
        font-size: 12.5px;
        margin-top: 4px;
    }
    .cards ul {
        margin-top: 5px;
        margin-left: 20px;
        line-height: 20px;
    }
    .cards ul li {
        font-size: 15px;
        margin-bottom: 5px;
    }
    .cards ol li {
        font-size: 13px;
    }
}
@media (max-width: 800px) {
    .cards h2 {
        display: block;
    }
    .cards h2 span {
        display: flex;
    }
}
@media (max-width: 330px) {
    .cards {
        margin-bottom: 20px;
    }
    .cards h2 {
        white-space: wrap;
    }
    .cards ul {
        line-height: 18px;
    }
    .cards ul li {
        font-size: 15px;
        margin-bottom: 15px;
    }
    .cards ol li {
        font-size: 13px;
    }
}
.projtitle {
    position: relative;
    height: fit-content;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.projcards {
    color: #dedfe0;
    font-weight: 400;
    margin-bottom: 50px;
    max-width: fit-content;
}
.vis2 {
    display: none;
}
.projcards h2 {
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 26px;
}
.projcards h3 {
    font-weight: 400;
    font-size: 20px;
}
.projpics {
    width: 500px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cardheader {
    display: flex;
    flex-direction: row;
}
.github, .website {
    cursor: pointer;
    font-size: 28px;
    margin-right: 15px;
}
#light .github, #light .website {
    color: #41403f;
}
.projcards ul li {
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 22px;
    list-style: none;
    font-size: 18px;
}
.projcards ol {
    margin-bottom: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
}
.projcards ol li {
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    background-color: rgba(27, 65, 66, 0.8);
    color: #85f3ec;
    font-size: 15px;
    font-weight: 500;
}
@media (max-width: 1030px) {
    .projpics {
        margin-right: 0;
    }
    .cardheader {
        flex-direction: column-reverse;
    }
    .vis1 {
        display: none;
    }
    .vis2 {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 620px) {
    .projpics {
        width: 80vw;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .github, .website {
        font-size: 22px;
    }
    .projcards h2 {
        font-size: 18px;
    }
    .projcards h3 {
        font-size: 14px;
    }
    .projcards ul li {
        font-size: 15px;
        line-height: 20px;
    }
    .projcards ol li {
        font-size: 13px;
    }
}
@media (max-width: 375px) {
    .projpics {
        width: 90vw;
    }
}